body,html{
  margin: 0;
  padding: 0;
}
.hamburger{
  height: 100%;
  background-color: antiquewhite;
  width: 200px;
  position: absolute;
  left: -999;
  z-index: 3;
  transition: left 0.5s ease;
}
.active{
  left:0;
}
.hamburgerList{
  list-style: none;
  padding: 0;
  margin: 0;
}
